<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="jumbotron container">
        <h1>Admin LOGIN PAGE</h1>
        {% block body_block %}
        <form method="POST" action={% url 'login' %}>
            {% csrf_token %}
            {{ forms.as_p }}
            {% endblock %}     
            <input type="submit" class="btn btn-success" value="submit">    
            <a href="{% url 'students_app:register' %}" class="btn btn-warning">Register Here</a>
        </form>

    </div>
</body>
</html>